<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="foot-content">
        <div>
          <img src="images/logo.jpg" class="logo" alt="Midterm LHL logo" />
        </div>
        <div class="website-details">
          <ul class="footer-list">
            <h5 class="">Information</h5>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Business Services</a></li>
            <li><a href="#">Ownership Governance</a></li>
            <li><a href="#">Contest & Promotions</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Media Center</a></li>
            <li><a href="#">Ordering Online</a></li>
          </ul>
          <ul class="footer-list">
            <h5>Legal & Policies</h5>
            <a href="#"><li>Accessibility</li></a>
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Terms & Conditions</li></a>
          </ul>
          <ul class="footer-list">
            <h5>Employment</h5>
            <a href="#"><li>Careers</li></a>
            <a href="#"><li>Divisons</li></a>
            <a href="#"><li>Core Values</li></a>
          </ul>
          <ul class="footer-list">
            <h5>Follow Us!</h5>
            <div class="social-icon">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-pinterest"></a>
            </div>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
