<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- Load bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- JP  -->
  <header>

  </header>

  <!-- John -->
  <main>
    <div class="container landing_main_top_container col-11">
      <div class="row">
        <div class="col-8 landing_main_top_left_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum dapibus lorem. Vestibulum vitae elit eros. Etiam lectus lacus, rhoncus sit amet lacus vel, gravida vulputate lorem. Mauris vitae mattis nisi. Pellentesque mollis est posuere, eleifend sapien sed, lobortis nunc. Donec id tellus ut mauris placerat scelerisque</p>
        </div>
        <div class="col-4 landing_main_top_photo_right">
          <img>
        </div>
      </div>
    </div>
    <div class="container landing_main_bottom_container">
      <div class="container">
        <p>Test</p>
      </div>
    </div>
  </main>

  <!-- Clement -->
  <footer>
    <p>Hello</p>
    <p>This is a test</p>
  </footer>
</body>

</html>
