<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <!-- Load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <!-- JP  -->
    <%- include('partials/header') %>

    <!-- John -->
    <main>
      <div class="container landing_main_top_container col">
        <div class="row top_container_content">
          <div class="col landing_main_top_left_text">
            <div class="container col">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                laoreet nulla at urna eleifend, quis semper libero consectetur.
                Proin augue odio, pretium ac urna vitae, malesuada dictum purus.
                Vivamus a iaculis lorem, ac dictum metus. Suspendisse quis lorem
                non dui dapibus viverra. Praesent aliquet commodo nisl non
                porta. Duis egestas nisi vestibulum quam consectetur tristique.
                Donec commodo, turpis ac venenatis feugiat, purus erat ultricies
                ligula, vel mollis orci nunc ac turpis. Vestibulum tristique
                molestie pretium. Fusce eleifend non ex non tempus. Etiam libero
                lacus, aliquam id pellentesque sit amet, condimentum vitae
                tortor. Phasellus vestibulum, neque at posuere malesuada, sem
                eros dictum enim, at dignissim nibh odio id neque. Proin vel est
                id dui tincidunt rutrum facilisis sed ante. Ut porttitor
                molestie ipsum, eu efficitur tellus tristique eu. Praesent eros
                erat, volutpat ut interdum malesuada, posuere in nibh. Maecenas
                ut orci at lacus cursus tempus at vitae leo. In rhoncus
                convallis nisl ut fermentum. Aliquam aliquam cursus sem, at
                faucibus odio tincidunt nec. Suspendisse mattis faucibus eros, a
                luctus velit. In vulputate magna non pulvinar efficitur. Cras
                ornare interdum eros eu lacinia. Duis hendrerit urna velit, at
                porttitor est ornare ut. Phasellus vehicula placerat sem nec
                ultrices. Etiam luctus suscipit tellus, non laoreet felis
                fermentum ut. Duis quis eros egestas, fringilla augue ac, ornare
                mi. Fusce ultrices molestie viverra. Aliquam volutpat commodo
                justo, sed scelerisque enim cursus vitae. Suspendisse commodo
                elementum auctor. Morbi lacus tellus, faucibus vel placerat et,
                ornare ultrices augue. Praesent commodo justo ex. Praesent
                ullamcorper dui tortor, a molestie eros tristique vel. Praesent
                porttitor orci at nulla ornare consectetur. Phasellus quis est
                hendrerit, hendrerit eros id, egestas justo. Pellentesque ac
                lacinia turpis. Praesent pellentesque, leo nec elementum
                bibendum, dui massa viverra ante, consectetur ultricies ligula
                neque vestibulum risus. In euismod libero eu ante elementum, a
                volutpat tortor porta. Donec laoreet lectus id magna molestie,
                sit amet finibus neque gravida. Donec non consequat ante.
                Maecenas commodo mauris at augue faucibus ultrices. Morbi ornare
                at odio eget dictum. Sed eu tempor nisl. Aenean malesuada metus
                nec ligula tincidunt, scelerisque accumsan justo posuere.
                Vivamus id congue diam.
              </p>
            </div>
          </div>
          <div class="col-2 landing_main_top_photo_right">
            <img
              src="images/landing_page_1.jpg"
              class="landing_page_1_img col"
              alt="Beer dark background"
            />
          </div>
        </div>
      </div>

      <div class="landing_main_bottom_container">
        <p>Featured Items</p>
        <div class="container-fluid">
          <div class="scrolling-wrapper">
            <div
              class="scrolling-container row flex-row flex-nowrap mt-4 pb-4 pt-2"
            >
            <div class="col colcard">
              <div class="card h-100">
                <img
                  src="https://via.placeholder.com/350x200"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Item Title</h5>
                  <p class="card-text">Item Description</p>
                  <p class="card-text">
                    <small class="text-muted">Posted 2 weeks ago</small>
                    <button
                      class="btn btn-link favorite-button"
                      title="Add to your Favourites!"
                    >
                      <i class="fas fa-heart"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
              <div class="col-2">
                <div class="card card-block card-2"></div>
              </div>
              <div class="col-2 indiv_card">
                <div class="card card-block card-3"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-4"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-5">
                  <img
                    class="cardimg"
                    src="images/moosehead.png"
                    alt="Moosehead alchol"
                  />
                  <h3>Moosehead</h3>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Architecto dicta quo provident cupiditate nemo voluptates
                    delectus? Magnam delectus nostrum enim.
                  </p>
                  <button>Add to Cart!</button>
                </div>
              </div>
              <div class="col-2">
                <div class="card card-block card-6"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-7"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-8"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-9"></div>
              </div>
              <div class="col-2">
                <div class="card card-block card-10"></div>
              </div>
            </div>
          </div>
          <button class="arrow-btn-left arrow-btn">◀</button>
          <button class="arrow-btn-right arrow-btn">▶</button>
        </div>
      </div>
    </main>
    <script>
      $(function () {
        // scroll the cards left when left button is clicked
        $(".arrow-btn-left").click(function () {
          $(".scrolling-wrapper").animate({ scrollLeft: "-=200px" }, "slow");
        });

        // scroll the cards right when right button is clicked
        $(".arrow-btn-right").click(function () {
          $(".scrolling-wrapper").animate({ scrollLeft: "+=200px" }, "slow");
        });
      });
    </script>
    <!-- Clement  -->
    <%- include('partials/footer') %>
  </body>
</html>
