<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messenger</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/message.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="message-container">
      <div class="item-details">
        <h2><%= listingInfo.title %></h2>
        <% if (listingInfo.sold) { %>
          <p>This item is no longer avaliable - it has been sold</p>
        <% } else { %>
          <p>This item is still avaliable</p>
        <% } %>
      </div>
      <!-- Chat box -->
      <div class="chat-box">
        <div id="messages-container" class="chat-messages">

        </div>
      </div>
      <!-- Send a message -->
      <div class="send-container">
        <form method="POST" action='/message/<%= listingInfo.title %>/sent'>
          <div class="form-group text-send">
            <textarea
              type="text"
              class="form-control"
              name="message"
              id="exampleFormControlTextarea1"
              rows="3"
              maxlength="500"
              placeholder="500 characters max"
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Send</button>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
