/* Card layout */
.listings-container {
  margin: 5rem 0 3rem;
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
}


.row-cols-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 0.5rem;
  position: relative;
}

.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 calc(16.666% - 1rem); /* Update the flex value to distribute 6 columns */
  margin: 0.5rem;
  position: relative;
}

.col {
  flex: 1 0 300px; /* Adjust the width as needed */
  margin: 0.5rem;
  position: relative;
}

.sold {
  position: absolute;
  height: 100%;
  width: 95%;
  z-index: 10;
  background-color: black;
  opacity: 50%;
  padding: 1rem;
  object-fit: contain;
}

.sold-text {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  position: absolute;
  top: 80px;
  left: 50px;
  color: red;
  font-size: 3rem;
  font-weight: 600;
  z-index: 20;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  z-index: 0;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  // border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
  flex: 1;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-muted {
  font-size: 0.875rem;
}

/* Pagination */
.pagination {
  margin-top: 1rem;
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #ddd;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.page-link {
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link:hover {
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #ddd;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favourite-button:hover::after {
  position: fixed;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.custom-button {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.priceandfavourite {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceandfavourite p {
  display:flex;
  justify-content: space-between;
}

.card-footer {
  background-color: transparent !important;
  border-top: none !important;
}

.favorite-button .favourite {
  color: red !important;
}
