body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.scrolling-wrapper{
	overflow-x: auto;
  max-height: 450px;
}

.landing_main_bottom_container{
margin-top: 10rem;
margin-bottom: 10rem;
}

.container_full_width{
  width:100%;
}

.landing_page_1_img{
  height:400px;
  width:auto;
}
.landing_main_top_container{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.top_container_content{
  margin-top: 5rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.indiv_card{
  max-height: 120px;
  object-fit: contain;
}

.card{
  object-fit: contain;
  font-size: 1.1rem;
}


.cardimg{
  max-height: 120px;
  width: auto;
  object-fit: contain;
}
