body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.scrolling-wrapper{
	overflow-x: auto;
  max-height: 450px;
  max-width:65vw;
  position: relative;
  overflow: hidden;
}



.container-fluid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:65vw;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.arrow-btn-left {
  left: 0;
}

.arrow-btn-right {
  right: 0;
}


.landing_main_bottom_container{
margin-top: 10rem;
margin-bottom: 10rem;
flex-direction: column;
display:flex;
justify-content: center;
align-items: center;

}


.container_full_width{
  width:100%;
}

.landing_page_1_img{
  height:400px;
  object-fit: contain;
}
.landing_main_top_container{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.top_container_content{
  margin-top: 5rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.indiv_card{
  max-height: 120px;
  object-fit: contain;
}

.card{
  object-fit: contain;
  font-size: 1rem;
}


.cardimg{
  max-height: 120px;
  width: auto;
  object-fit: contain;
}

.container-fluid {
  display:flex;
  justify-content: space-around;
}
