body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

footer {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.foot-content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.website-details {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer li {
  margin: 5px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #d59979;
  text-decoration: none;
}

footer .logo {
  max-height: 200px;
  width: auto;
  object-position: 50% 50%;
  object-fit: fill;
  margin: 20px 100px;
}

.footer-list {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
}

.social-icon {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}
